:root {
    --main-color: #ef5e23;
}

body {
    font-family: "Changa", sans-serif;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='452' height='54.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
}

.btn-color {
    background-color: #38369A;
}

.btn-color:hover,
.btn-color:focus,
.btn-color:checked {
    background-color: #4C4AAE;
}

.the-main-color {
    color: #4A4A77;
}

#categoryBtn {
    background-color: #A1C349;
}

.question {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}

.rowAnswers {
    border: solid 2px #434371;
    color: #434371;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 20px;
}

.rowAnswers:hover {
    background-color: #434371;
    color: white;
}

.correct,
.correct:hover {
    --main-color: #7cb518 !important;
    background-color: var(--main-color);
    color: #fff !important;
}

.wrong,
.wrong:hover {
    --main-color: #bf0603 !important;
    background-color: var(--main-color);
    color: #fff !important;
}

.heading {
    --radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 6px;
    isolation: isolate;
    border-radius: var(--radius);
}

.heading h1 {
    font-family: "Electrolize", sans-serif;
    border-radius: inherit;
    font-size: 40px;
}

.heading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(#fc5130, #613dc1);
    position: absolute;
    top: 0;
    left: 0;
    scale: 1.1;
    border-radius: inherit;
    z-index: -1;
    transform: rotate(360deg);
    animation: headingAnimate infinite linear 6s;
}

@keyframes headingAnimate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(360deg);
    }
}